<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.riverluoo.mapper.LuooCollectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.riverluoo.entity.LuooCollection">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="song_id" property="songId" />
        <result column="volume_id" property="volumeId" />
        <result column="create_time" property="createTime" />
        <result column="create_person" property="createPerson" />
        <result column="update_time" property="updateTime" />
        <result column="update_person" property="updatePerson" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, song_id, volume_id, create_time, create_person, update_time, update_person
    </sql>

</mapper>
